@font-face {
    font-family: Megabyte;
    font-style: normal;
    font-weight: 400;
    src: url('/db.onlinewebfonts.com/t/2566fcbfa72212c1cadad4627e4998e2.woff2') format('woff2'),
    url("//db.onlinewebfonts.com/t/2566fcbfa72212c1cadad4627e4998e2.woff") format("woff");
  }

@font-face {
    font-family: MegabyteBold;
    font-style: semibold;
    font-weight: 700;
    src: url("//db.onlinewebfonts.com/t/7374957f01c062a535549b345d32dc1b.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/7374957f01c062a535549b345d32dc1b.woff") format("woff");
  }

.containerF{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 1.5px solid;
    border-color: #f2f2f2;
}

.containerF2{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    border-top: 1.5px;
}

.containerF button{
    font-family: Megabyte;
    position: relative;
    align-self: center;
    padding: 16px 0;
    color: #000;
    font-size: 1rem;
    text-decoration: underline;
    border: 0;
    background-color: transparent;
}

.Footer ul {
    list-style: none;
    color: #000;
  }

.columnas {
    columns: 5; 
}

.Footer p {
    margin-top: 100px;
    font-size: 0.9rem;
    line-height: 1.25;
    text-transform: uppercase;
}

.columnas li {
    padding: 4px 0px;
    break-inside: avoid;
    text-align: left;
}

.Footer a{
    line-height: 1;
}

.containerImagenes{
    top: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 30px);
    gap: 16px;
  }
  
.containerImagenes img{
    width: 25px;
    height: 25px;
    transition: 0.4s;
}

.containerImagenes img:hover{
    transform: scale(1.3);
}


