@font-face {
    font-family: Megabyte;
    font-style: normal;
    font-weight: 400;
    src: url('/db.onlinewebfonts.com/t/2566fcbfa72212c1cadad4627e4998e2.woff2') format('woff2'),
    url("//db.onlinewebfonts.com/t/2566fcbfa72212c1cadad4627e4998e2.woff") format("woff");
  }

@font-face {
    font-family: MegabyteBold;
    font-style: semibold;
    font-weight: 700;
    src: url("//db.onlinewebfonts.com/t/7374957f01c062a535549b345d32dc1b.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/7374957f01c062a535549b345d32dc1b.woff") format("woff");
  }

.containerM div{
    padding: 0;
    margin: 0;
}

.containerM{
    width: 100%;
    max-width: 1200px;
    height: 420.48px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.containerM .cardM{
    width: 400px;
    height: 335px;
    margin:30px;
    text-align: left;
}


.containerM .cardM img{
    width: 400px;
    height: 225px;
    object-fit: fill;
    
}

.ManagementCards h1{
    margin-top: 1370px;
    font-family: MegabyteBold;
    font-size: 2rem;
    left: 550px;
    color: #000000;
}

.containerM .cardM h4{
    margin-top: 5%;
    font-family: MegabyteBold;
    font-size: 1.7rem;
    line-height: 2rem;
    color: #000000;
    
}

.containerM .cardM h3{
    font-family: Megabyte;
    font-size: 1rem;
    line-height: 2.5rem;
    color: #000000;
}

.containerM .cardM p{
    font-family: MegabyteBold;
    font-size: 0.9rem;
    line-height: 2rem;
    color: #000000;
}